LOGLEVEL=info

# Arduino setup
ARDUINO_MODE=live # 'record' inputs to file, 'mock' inputs from file or 'live' (use input from arduino, dont record it)
ARDUINO_MOCK_FILE="input.log"
ARDUINO_USB_DEV="/dev/ttyACM0" # The device file your system uses to communicate to the Arduino
ARDUINO_READ_DELAY=0.08 # This value represents seconds

## Inputs ##

## Outputs ##

# Robot-moving Motors setup
MOTOR_R_FACTOR=1 # This value has to be between 0 and 1
MOTOR_L_FACTOR=1 # This value has to be between 0 and 1

# Laser-moving Servo setup
ENABLE_SERVO_LASER=True

# Main LED setup
LEDMAIN_PIN=21 
