export DEV_BRANCH="dev001"  # this is the github branch you'll use for development and test
export ARDUINO_FILES="../arduino/"  # this is where the arduino files are kept on the repo
export SSH_COMM="ssh -i $HOME/.ssh/id_rsa user@192.168.0.1"  # command you use to SSH into the raspberry
export CARGO="/home/myuser/.cargo/bin/cargo"  # path to cargo on your raspberry
