**/target
**/log
**/build
**/install
**/scripts/__pycache__
**/.env
**/*.swp
**/*.swo
brain/Cargo.lock
brain/records
test_svc
development
**/.criterion
**/perf.data*
**/callgrind*
**/app/release/*
**/esp32*
