**/target
**/log
**/build
**/install
**/scripts/__pycache__
**/.env
**/.env.bck
**/*.swp
**/*.swo
**/userconf
test_svc
development
**/.criterion
**/perf.data*
**/callgrind*
**/app/release/*
**/esp32*

brain/Cargo.lock
brain/records
brain/scripts/robotlogic/robotlogic.so
**/files/wpa_supplicant.conf
**/files/user-data
**/files/sshd_config
**/files/50-cloud-init.yaml
