**/target
**/log
**/build
**/install
**/scripts/__pycache__
**/.env
**/.env.bck
**/*.swp
**/*.swo
**/userconf
brain/Cargo.lock
brain/records
test_svc
development
**/.criterion
**/perf.data*
**/callgrind*
**/app/release/*
**/esp32*
brain/scripts/robotlogic/robotlogic.so
