 [Unit]
 Description=Robot Brain
 After=multi-user.target

 [Service]
 Type=simple
 ExecStart=/bin/sh -c '/home/user/robot/brain/target/release/brain /home/user/robot/brain/cfg.yaml'

 [Install]
 WantedBy=multi-user.target
