# Preloading phase
# 
# Where does the MicroSD card get mounted on your system?
MICROSD_PATH="/media/user"
#
# SSH User
NEWUSER="piuser"
# SSH Pass - This is the reason why we remove the file after the process
PASS="Fake_pass"
# FULL Path to your local SSH public key
SSHPUBPATH="/home/user/.ssh/id_sec.pub"
# Port to use for SSH
SSHPORT="8022"
#
# What IP Range is the router using?
IPRANGE="192.168.1.0/24"
# Hostname for the raspberry
HOSTNAME="robot"
#
# Wifi - Country code (US, UK, DE...)
WIFI_COUNTRY="DE"
# Wifi - SSID/Name of your Home Wifi
WIFI_SSID="test"
# Wifi - Password for your Home Wifi
WIFI_PASS="testpass"
#
# LED Pin t the Raspberry
LED_PIN=21

# Robot run phase
# 
LOGLEVEL=info

# Mode can be rc, callibrating, mapping and auto
MODE=callibrating

# Status manager setup
## Number of secs between reads of the current status
REFRESH_SECS=0.01

# Arduino setup
ARDUINO_MODE=mock # 'record' inputs to file, 'mock' inputs from file or 'live' (use input from arduino, dont record it)
ARDUINO_MOCK_FILE="input.log"
ARDUINO_USB_DEV="/dev/ttyACM0" # The device file your system uses to communicate to the Arduino
ARDUINO_READ_DELAY=0.08 # This value represents seconds

## Inputs ##

## Outputs ##

# Robot-moving Motors setup
MOTOR_R_FACTOR=1 # This value has to be between 0 and 1
MOTOR_L_FACTOR=1 # This value has to be between 0 and 1

# Laser-moving Servo setup
ENABLE_SERVO_LASER=False

# Main LED setup
LEDMAIN_PIN=21 
