# Preloading phase
# 
# Where does the MicroSD card get mounted on your system?
MICROSD_PATH="/media/user"
#
# SSH User
NEWUSER="piuser"
# SSH Pass - This is the reason why we remove the file after the process
PASS="Fake_pass"
# FULL Path to your local SSH public key
SSHPUBPATH="/home/user/.ssh/id_sec.pub"
# Port to use for SSH
SSHPORT="8022"
#
# What IP Range is the router using?
IPRANGE="192.168.1.0/24"
# Hostname for the raspberry
HOSTNAME="robot"
#
# Wifi - Country code (US, UK, DE...)
WIFI_COUNTRY="DE"
# Wifi - SSID/Name of your Home Wifi
WIFI_SSID="test"
# Wifi - Password for your Home Wifi
WIFI_PASS="testpass"
#
# LED Pin t the Raspberry
LED_PIN=21

# Robot run phase
# 
LOGLEVEL=info
# This is a comma-separated (no spaces) list of elements to show DEBUG messages about.
#  Currently accepted values:
#    api - log all debug messages from the api node
#    status - log all debug messages from the status node
#    status_logic - log only the debug messages from the status node that refer to the logic part
#    status_logic_led - log only the debug messages from the status node that refer to the logic for the LED
#    status_logic_motors - log only the debug messages from the status node that refer to the logic for BOTH MOTORS
#    status_logic_motor_l - log only the debug messages from the status node that refer to the logic for the LEFT MOTOR
#    status_logic_motor_r - log only the debug messages from the status node that refer to the logic for the RIGHT MOTOR
#    status_no_logic - log all debug messages from the status node that DO NOT refer to the logic part
#    arduino - log all debug messages from the arduino node
#    led - log all debug messages from the arduino node
#    servo_laser - log all debug messages from the servo laser node
#    motor_l - log all debug messages from the left motor node
#    motor_r - log all debug messages from the right motor node
#    all - log all debug messages from every node
#
#    E.g.: DEBUGGED=api,motorr,motorl
DEBUGGED=api,status

# Mode can be rc, callibrating, mapping and auto
MODE=callibrating

# Status manager setup
## Number of secs between reads of the current status
REFRESH_SECS=0.01

# Arduino setup
# 'record' inputs to file, 'mock' inputs from file or 'live' (use input from arduino, dont record it)
ARDUINO_MODE=mock 
ARDUINO_MOCK_FILE="input.log"
# The device file your system uses to communicate to the Arduino
ARDUINO_USB_DEV="/dev/ttyACM0" 
# This value represents seconds
ARDUINO_READ_DELAY=0.08 

## Inputs ##

## Outputs ##

# Robot-moving Motors setup
MOTOR_R_PIN_IN1=24
MOTOR_R_PIN_IN2=23
MOTOR_R_PIN_ENA=25

MOTOR_L_PIN_IN1=27
MOTOR_L_PIN_IN2=17
MOTOR_L_PIN_ENA=22

# These values have to be between 0 and 1
MOTOR_R_FACTOR=1
MOTOR_L_FACTOR=1

# Laser-moving Servo setup
ENABLE_SERVO_LASER=False

# Main LED setup
LEDMAIN_PIN=21 
