# Where does the MicroSD card get mounted on your system?
MICROSD_PATH="/media/user"
USER="piuser"
# This is the reason why we remove the file after the process
PASS="Temporary_pass"
# FULL Path to your local SSH public key
SSHPUBPATH="/home/user/.ssh/id_rsa.pub"
# Port to use for SSH
SSHPORT="6666"
# What IP Range is the router using?
IPRANGE="192.168.1.0/24"
# Hostname for the raspberry
HOSTNAME="robot"
# LED Pin t the Raspberry
LED_PIN=21
