[Unit]
Description=robot
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
WorkingDirectory=/home/robotadm/robot/brain
ExecStart=/home/robotadm/robot/brain/run.sh
Type=forking
PIDFile=/var/run/robot.pid

[Install]
WantedBy=multi-user.target
